.sec-header-img {
  position: relative;

  .header-img {
    position: relative;

    & > img {
      width: 100%;
    }

    .icon-img {
      width: 100%;
      position: absolute;
      left: 0px;
      right: 0px;
      text-align: center;
      display: grid;
      height: 100%;
      justify-content: center;
      align-items: center;

      img {
        width: 150px;
        position: relative;
        top: 40px;
        cursor: pointer;
      }
    }
  }
}

section.sec-why-choose {
  position: relative;
  padding: 100px 0px;
  .heading-main {
    margin-bottom: 70px;

    h3 {
      text-align: left;
      line-height: 48px;
    }
  }

  .icons-main {
    margin-bottom: 50px;

    img {
      position: relative;
      width: 60px;
    }
    label {
      display: block;
      font-weight: 600;
      color: #222;
      margin-top: 20px;
    }

    p {
      color: #525252;
      line-height: 28px;
      margin-top: 5px;
    }
  }
}

section.sec-testimonial {
  padding: 70px 0px;
  position: relative;
  background-color: #f9fbfe;

  .heading-main {
    position: relative;
    margin-bottom: 50px;
    h3 {
      text-align: left;
    }
  }

  .testi-main {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;

    .img-main {
      position: relative;
      // overflow: hidden;
      // height: 620px;
      // border-radius: 15px;

      .img {
        width: 100%;
        height: 620px;
      }

      .play {
        position: absolute;
        left: 0px;
        right: 0px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.4s ease-in;
        cursor: pointer;
        z-index: 20;

        img {
          width: 150px;
          position: relative;
          top: 15px;
        }
      }
    }
    h4 {
      font-size: 18px;
      margin-top: 15px;
      font-weight: 600;
      color: #222222;
    }
  }
}

section.sec-company-stats {
  padding: 100px 0px;
  .heading-main {
    position: relative;
    margin-bottom: 50px;

    & > span {
      text-transform: uppercase;
      display: block;
      color: #ff8700;
      margin-bottom: 10px;
    }
  }

  .grid-count {
    display: grid;
    grid-template-columns: 30% 70%;

    .grid-1 {
      align-self: end;
    }
  }

  .left-content {
    display: inline-block;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;

    h1 {
      span {
        font-weight: 700;
        font-size: 79px;
        background: -webkit-linear-gradient(150deg, #fe8501, #e11e09);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    p {
      display: inline-block;
      color: #222;
      margin-bottom: 0px;
      font-weight: 500;
    }
  }

  .right-content {
    display: inline-block;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;

    h1 {
      color: #222;
      font-weight: 700;
    }
    p {
      display: inline-block;
      color: #222;
      margin-bottom: 0px;
      font-weight: 500;
    }
  }
}

section.sec-side-images {
  position: relative;
  background-color: #f9fbfe;
  padding: 50px 0px;

  .img-side {
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
      height: 550px;
      object-fit: cover;
    }
  }

  .content-right {
    display: grid;
    min-height: 550px;
    align-items: center;
    width: 95%;
    padding-left: 40px;
    margin-bottom: 70px;

    & > .aligment > span {
      display: block;
      margin-bottom: 40px;
      color: #525252;
    }

    label {
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 35px;

      &.custom {
        margin-bottom: 10px;
      }

      span {
        background: -webkit-linear-gradient(150deg, #fe8501, #e11e09);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    p {
      position: relative;
      padding-left: 20px;
      line-height: 30px;

      img {
        position: absolute;
        left: 0px;
        top: 8px;
      }
    }
  }
}
